<template>
    <div class="popup-wrapper">
        <div @click="handleClick" class="close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                    fill="#ACB2BD" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="title">Согласование</div>
            <div class="popup-select-wrapper">
                <div class="pretext">Решение</div>
                <div class="popup-select-box">
                    <SimpleSelect :option-list="optionList" label="title" val="value" :values="values" :on-change="onChange"></SimpleSelect>
                </div>
            </div>
            <div class="textarea-wrapper">
                <div class="pretext">Комментарий</div>
                <textarea @focus="handleFocus" @blur="handleBlur" name="text"
                          placeholder="При отрицательном решении по заявке заполните поле комментарий" 
                          :class="{'focus': isFocused}">
                </textarea>
            </div>
            <div class="btn-wrapper">
                <simpleButton :theme="'blue'" :title="'Добавить'" :size="'l'"></simpleButton>
                <simpleButton @click="handleClick" :theme="'white'" :title="'Отменить'" :size="'l'"></simpleButton>
            </div>
        </div>
    </div>
</template>

<script>
    import simpleButton from './simpleButton.vue';
    import SimpleSelect from './SimpleSelect.vue';
    import {
        optionList
    } from '../const.js';

    export default {
        data() {
            return {
                isFocused: false,
                optionList,
            }
        },
        props: {
            onChange: Function,
            values: Object
        },
        components: {
            simpleButton,
            SimpleSelect
        },
        methods: {
            handleFocus() {
                this.isFocused = true
            },
            handleBlur() {
                this.isFocused = false;
            },
            handleClick(event) {
                this.$emit('click', event);
            }
        }
    }
</script>

<style lang="less">
    .popup-wrapper {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05), 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 52px 120px 61px;
        width: 100%;
    }

    .close {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
        // cursor: url(../assets/img/hand-cursor.svg), pointer;

        &:active {
            svg path {
                fill: #1EB2E0;
            }
        }
    }

    .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.01em;
    }

    .popup-select-wrapper {
        width: 100%;
        margin-top: 45px;
    }

    .pretext {
        font-size: 12px;
        line-height: 16px;
        color: #515C73;
        padding-bottom: 2px;
    }

    .popup-select-box {}

    .textarea-wrapper {
        width: 100%;
        margin-top: 24px;

        textarea {
            border: 1px solid #D2D6DE;
            border-radius: 8px;
            padding: 14px;
            width: 100%;
            min-height: 139px;
            resize: none;
            overflow: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Inter', sans-serif;

            &::placeholder {
                color: #ACB2BD;
                font-weight: normal;
            }

        }

        .focus {
            border: 1px solid #1EB2E0;
            caret-color: #1EB2E0;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        width: 336px;
        margin-top: 46px;
    }
</style>