<template>
    <div id="page-request">
        <div class="request-header">
            <div class="title-page">Заявки</div>
            <div class="subtitle">Требуют подтверждения</div>
        </div>
        <div class="request-content">
            <simpleButton @click="handleClick" :theme="'blue'" :title="'Согласовать'" :size="'m'"></simpleButton>
            <div class="request-table-wrapper">
                <table>
                    <tr>
                        <th>
                            <div @click="toggleCheckbox" class="all-checkbox"></div>
                        </th>
                        <th class="date"><span>Дата</span></th>
                        <th class="full-name"><span>ФИО</span></th>
                        <th class="tel"><span>Телефон</span></th>
                        <th class="name name-delete"><span>Наименование аптеки</span></th>
                        <th class="address"><span>Адес филиала</span></th>
                    </tr>
                    <tr v-for="request in requestList" :key="request.id" class="row"
                        :class="{'chosen' : request.active }">
                        <td>
                            <SimpleCheckbox @change="changeRequest($event, request)" :value="request.active"></SimpleCheckbox>
                        </td>
                        <td>{{request.date}}</td>
                        <td>{{request.fullName}}</td>
                        <td>{{request.tel}}</td>
                        <td class="name-delete">{{request.name}}</td>
                        <td>
                            <div @mousemove="tooltip($event, request.id)" class="address-box">
                                <img class="address-img" src="../assets/img/country.svg" alt="">
                                <span>{{request.address}}</span>
                            </div>
                            <div :data-id="request.id" class="tooltip-address">{{request.address}}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import simpleButton from './simpleButton.vue';
    import SimpleCheckbox from './SimpleCheckbox.vue';
    export default {
        data() {
            return {
                requestList: this.info,
                isChoise: false,
                isRequest: {},
                index: null
            }
        },
        props: {
            info: Array,
            choose: Array,
            valueCheckbox: Boolean
        },
        components: {
            simpleButton,
            SimpleCheckbox
        },
        methods: {
            changeRequest(choice, request) {
                this.isChoise = choice;
                this.isRequest = request;
                this.$emit('change', choice, request);
            },
            tooltip(event, id) {
                const address = event;
                let mouseX = address.offsetX + 24;
                let mouseY = address.offsetY + 24;
                // console.log(mouseX, mouseY);
                const tooltip = document.querySelector(`.tooltip-address[data-id="${id}"]`);
                tooltip.style.top = mouseY + 'px';
                tooltip.style.left = mouseX + 'px';
            },
            handleClick(event) {
                this.$emit('click', event);
            },
            toggleCheckbox(event){
                this.$emit('toggle-click', event)
                // this.requestList.active = !this.requestList.active;
            }
        },
        mounted() {
            // console.log('info:', this.info);
            // console.log('requestList: ', this.requestList);
        }
    }
</script>

<style lang="less">
    .request-header {
        background: linear-gradient(180deg, #EEF2F5 0%, #F4F5FA 100%);
        padding: 61px 44px 0;
    }

    .title-page {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.01em;
        margin-bottom: 40px;
    }

    .subtitle {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.01em;
        color: #1EB2E0;
        border-bottom: 4px solid #1EB2E0;
        display: inline-block;
        padding-bottom: 11px;
    }

    .request-content {
        padding: 24px 44px;
    }

    .request-table-wrapper {
        margin-top: 26px;

        table {
            width: 100%;
            border-collapse: collapse;
            white-space: nowrap;
        }

        th {
            font-size: 14px;
            line-height: 20px;
            color: #ACB2BD;
            font-weight: 400;
            text-align: start;
            // padding-left: 11px;
            padding-top: 5px;

        }

        tr {
            height: 48px;

            &:hover {
                td {
                    background: #EEF2F5;

                    &:first-child {
                        border-radius: 8px 0 0 8px;
                    }

                    &:last-child {
                        border-radius: 0 8px 8px 0;
                    }
                }

                .address-box::after {
                    background: linear-gradient(270deg, #EEF2F5 0%, rgba(238, 242, 245, 0) 100%);
                }

            }

            td:first-child,
            th:first-child {
                padding-left: 11px;


            }
        }

        td {
            position: relative;

            // padding-left: 11px;
            &:hover .tooltip-address {
                visibility: visible;
                opacity: 1;
            }

        }

        .date {
            width: 142px;

            // min-width: 137px;
            &::after {
                content: url(../assets/img/arrow-bottom.svg);
                padding-left: 6px;
            }
        }

        .full-name {
            position: relative;
            width: 319px;

            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: #ACB2BD;
                border-radius: 50%;
                position: absolute;
                top: 55%;
                left: 43px;
                transform: translateY(-50%);
            }
        }

        .tel {
            width: 254px;

        }

        .name {
            width: 254px;
        }

        .address {}

        .address-box {
            display: flex;
            align-items: center;
            overflow: hidden;
            max-width: 430px;
            position: relative;
            cursor: url(../assets/img/cursor.svg), default;

            img {
                margin-left: -2px;
            }

            span {
                padding-left: 32px;
                position: relative;

                // &::after{
                //     content: url(../assets/img/country.svg);
                //     position: absolute;
                //     left: 1px;
                //     width: 20px;
                //     height: 18px;
                //     top: 50%;
                //     transform: translateY(-50%);
                //     box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
                // }
            }

            .address-img {
                position: absolute;
                left: 2px;
                top: 50%;
                transform: translateY(-50%);
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
            }

            &::after {
                content: '';
                background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                position: absolute;
                right: 0;
                width: 24px;
                height: 100%;
            }
        }
    }

    .all-checkbox {
        width: 18px;
        height: 18px;
        background: #ACB2BD;
        border-radius: 2px;
        position: relative;
        margin-right: 14px;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            background: #FFFFFF;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .chosen {
        color: #30BE61;
    }

    .tooltip-address {
        position: absolute;
        background: #515C73;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
        white-space: normal;
        z-index: 1;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        max-width: 241px;
        padding: 4px 8px;
        visibility: hidden;
        opacity: 0;
        // transition: 0.3s;
        top: 25px;
        left: 25px;
    }

    @media (max-width: 1640px) {
        .name-delete {
            display: none;
        }

        .request-header {
            padding: 51px 43px 0;
        }

        .title-page {
            margin-bottom: 32px;
        }

        .request-table-wrapper {
            margin-top: 30px;

            .date {
                width: 125px;
            }

            .full-name {
                width: 323px;
            }

            .tel {
                width: 179px;
            }

            .address-box {
                max-width: 332px;
            }

            tr {
                td:first-child,
                th:first-child {
                    padding-left: 10px;
                }
            }

        }

        .all-checkbox {
            margin-right: 17px;
        }

    }
</style>