<template>
    <label class="checkbox-wrapper" @change="chooseCheckbox($event)">
        <input type="checkbox" :checked="value">
        <div class="checkbox"></div>
    </label>
</template>

<script>
    export default {
        data() {
            return{

            }
        },
        props: {
          value: {
            type: Boolean,
            default: false
          }

        },
        methods:{
            chooseCheckbox(event){
                const choice = event.target.checked;
                this.$emit('change', choice);
            },
        },
        mounted(){
        }
    }

</script>

<style lang="less">
.checkbox-wrapper {
 
    display: flex;
    user-select: none;
    align-items: center;
    // cursor: url(../assets/img/cursor.svg), pointer;

    cursor: pointer;


    input:checked ~ .checkbox {
      background-color: #30BE61;
      border: 1px solid #30BE61;
    }
    input:checked ~ .checkbox:after {
      display: block;
    }
    .checkbox:after {
left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  

  .checkbox{
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #D2D6DE;
    background-color: #fff;
    border-radius: 2px;
    user-select: none;
    position: absolute; 
  

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  input {
    opacity: 0;
    height: 0;
    width: 0;
    position: relative;
    margin: 0;
  }

}
</style>
