<template>
  <div class="select-wrapper">
    <div ref="selectBox" @click="openOption" class="select-box" :class="{'is-open': isOption}">
      <div class="text">{{values.title}}</div>
      <div class="indicator" :class="{'open-indicator': isOption}">
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.41 0.580002L6 5.17L10.59 0.580002L12 2L6 8L0 2L1.41 0.580002Z" fill="#515C73" />
        </svg>
      </div>
    </div>
    <div v-if="isOption" ref="optionsWrapper" class="select-option-wrapper">
      <div v-for="option in optionList" :key="option[val]" class="select-option-box">
        <div @click="chooseOption(option)" class="select-option text">
          {{option[label]}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'simpleSelect',
    data() {
      return {
        isOption: false,
      }
    },
    props: {

      optionList: Array,

      onChange: Function,
      values: Object,
      // placeholder: {
      //   type: String,
      //   default: ""
      // },
      val: {
        type: String,
        default: 'value'
      },
      label: {
        type: String,
        default: 'title'
      }
    },
    methods: {
      openOption() {
        this.isOption = !this.isOption;
      },
      closeOption() {
        document.addEventListener('click', (e) => {
          const select = this.$refs.selectBox;
          const option = this.$refs.optionsWrapper;

          if (!option) {
            return;
          }

          const target = e.target;
          // const its_option = target == option || option.contains(target);
          const its_select = target == select || select.contains(target);
          const option_is_active = this.isOption;

          if (!its_select && option_is_active) {
            this.isOption = false;
          }
        });
      },
      chooseOption(option) {
        this.onChange(option);
      },


    },
    components: {

    },
    updated() {},
    mounted() {
      this.closeOption();

    },


  }
</script>


<style lang="less">
  .select-wrapper {
    position: relative;
  }

  .select-box {
    height: 52px;
    border: 1px solid #D2D6DE;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;

    .open-indicator {
      transform: rotate(-180deg) translateY(-3px);
    }

  }

  .is-open {
    border-radius: 8px 8px 0 0;
  }

  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .placeholder {
    color: #ACB2BD;
    font-weight: normal;
  }

  .indicator {
    transition: 0.3s;
    transform: translateY(-2px);

  }

  .select-option-wrapper {
    box-shadow: 0px 5px 20px rgba(41, 41, 58, 0.08);
    border-radius: 0 0 8px 8px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #D2D6DE;
    top: 51px;
    overflow: hidden;

  }

  .select-option {
    display: flex;
    user-select: none;
    align-items: center;
    padding: 14px;
    cursor: pointer;
    border-top: 1px solid #D2D6DE;


    &:hover {
      background: #1EB2E0;
      color: #fff;
    }

  }
</style>