<template>
    <div @click="handleClick" class="button-wrapper" :class="{
        'button-theme-blue': theme === 'blue',
        'button-theme-white': theme === 'white',
        'button-size-m': size === 'm',
        'button-size-l': size === 'l',
        }">
        <div class="button-content"><span>{{title}}</span></div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props: {
            title: {
                type: String,
                default: ''
            },
            theme: {
                type: String,
                default: 'blue'
            },
            size: {
                type: String,
                default: 'm'
            }
        },
        methods: {
            handleClick(event) {
                this.$emit('click', event);
            }
        },
    }
</script>

<style lang="less">
    .button-wrapper {
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        display: table;
        display: table-cell;
        vertical-align: middle;
    }

    .button-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .button-theme-blue {
        background: #1EB2E0;
        color: #FFFFFF;

        &:hover {
            background: #1EB2E0;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.15);
        }

        &:active {
            background: #09ABCF;
            color: rgba(216, 248, 255, 0.8)
        }
    }

    .button-theme-white {
        background: #FFFFFF;
        border: 2px solid #1EB2E0;
        color: #1EB2E0;

        &:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.15);
        }

        &:active {
            color: #09ABCF;
            border: 2px solid #09ABCF;
        }

        &.button-size-m {
            padding: 0 14px;
        }

        &.button-size-l {
            padding: 0 22px;
        }

    }

    .button-size-m {
        height: 44px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding: 0 16px;
    }

    .button-size-l {
        height: 60px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        padding: 0 24px;
    }
</style>