<template>
  <div id="app">
    <div class="all-wrapper">
      <!-- <div class="wrapper-btn">
      <simpleButton :theme="'blue'" :title="'Название кнопки'" :size="'m'"></simpleButton>
      <simpleButton :theme="'white'" :title="'Название кнопки'" :size="'m'"></simpleButton>
      <simpleButton :theme="'blue'" :title="'Название кнопки'" :size="'l'"></simpleButton>
      <simpleButton :theme="'white'" :title="'Название кнопки'" :size="'l'"></simpleButton>
    </div> -->
      <div class="left-menu-wrapper">
        <div class="logo-box">
          <div class="logo">
            <img src="./assets/img/logo.svg" alt="">
          </div>
          <div class="logo-text">Информационная <br> система</div>
        </div>
        <div class="worker-office-wrapper">
          <div class="worker-box">
            <div class="worker-avatar">
              <img src="./assets/img/avatar.png" alt="">
            </div>
            <div class="worker-name">Петров П. П.</div>
          </div>
          <div class="worker-office-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5 3H19C20.1 3 21 3.9 21 5V19C21 20.1 20.1 21 19 21H5C3.89 21 3 20.1 3 19V15H5V19H19V5H5V9H3V5C3 3.9 3.89 3 5 3ZM11.5 17L10.09 15.59L12.67 13H3V11H12.67L10.09 8.41L11.5 7L16.5 12L11.5 17Z"
                fill="#ACB2BD" />
            </svg>
            <!-- <img src="./assets/img/office.svg" alt=""> -->
          </div>
        </div>
        <nav class="menu-content">
          <ul>
            <a href="#">
              <li class="menu-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M20 6C20.58 6 21.05 6.2 21.42 6.59C21.8 7 22 7.45 22 8V19C22 19.55 21.8 20 21.42 20.41C21.05 20.8 20.58 21 20 21H4C3.42 21 2.95 20.8 2.58 20.41C2.2 20 2 19.55 2 19V8C2 7.45 2.2 7 2.58 6.59C2.95 6.2 3.42 6 4 6H8V4C8 3.42 8.2 2.95 8.58 2.58C8.95 2.2 9.42 2 10 2H14C14.58 2 15.05 2.2 15.42 2.58C15.8 2.95 16 3.42 16 4V6H20ZM4 8V19H20V8H4ZM14 6V4H10V6H14ZM12 9C12.5967 9 13.169 9.23705 13.591 9.65901C14.0129 10.081 14.25 10.6533 14.25 11.25C14.25 12.5 13.24 13.5 12 13.5C11.4033 13.5 10.831 13.2629 10.409 12.841C9.98705 12.419 9.75 11.8467 9.75 11.25C9.75 10 10.76 9 12 9ZM16.5 18H7.5V16.88C7.5 15.63 9.5 14.63 12 14.63C14.5 14.63 16.5 15.63 16.5 16.88V18Z"
                    fill="#ACB2BD" />
                </svg>
                <!-- <img src="./assets/img/pill.svg" alt=""> -->
                <span>Аптечные сети</span>
              </li>
            </a>
            <a href="#">
              <li class="menu-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21 4H3C2.46957 4 1.96086 4.21071 1.58579 4.58579C1.21071 4.96086 1 5.46957 1 6V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H21C21.5304 21 22.0391 20.7893 22.4142 20.4142C22.7893 20.0391 23 19.5304 23 19V6C23 5.46957 22.7893 4.96086 22.4142 4.58579C22.0391 4.21071 21.5304 4 21 4ZM3 19V6H11V19H3ZM21 19H13V6H21V19ZM14 9.5H20V11H14V9.5ZM14 12H20V13.5H14V12ZM14 14.5H20V16H14V14.5Z"
                    fill="#ACB2BD" />
                </svg>
                <!-- <img src="./assets/img/courses.svg" alt=""> -->
                <span>Курсы</span>
              </li>
            </a>
            <a href="#">
              <li class="menu-link active-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5 2H19C19.2652 2 19.5196 2.10536 19.7071 2.29289C19.8946 2.48043 20 2.73478 20 3V13C20 13.2652 19.8946 13.5196 19.7071 13.7071C19.5196 13.8946 19.2652 14 19 14H5C4.73478 14 4.48043 13.8946 4.29289 13.7071C4.10536 13.5196 4 13.2652 4 13V3C4 2.73478 4.10536 2.48043 4.29289 2.29289C4.48043 2.10536 4.73478 2 5 2ZM6 4V12H18V4H6ZM20 17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18H5C4.73478 18 4.48043 17.8946 4.29289 17.7071C4.10536 17.5196 4 17.2652 4 17V16H20V17ZM20 21C20 21.2652 19.8946 21.5196 19.7071 21.7071C19.5196 21.8946 19.2652 22 19 22H5C4.73478 22 4.48043 21.8946 4.29289 21.7071C4.10536 21.5196 4 21.2652 4 21V20H20V21Z"
                    fill="#ACB2BD" />
                </svg>
                <!-- <img src="./assets/img/order.svg" alt=""> -->
                <span>Заявки</span>
              </li>
            </a>
            <a href="#">
              <li class="menu-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14.1 8C14.1 6.84 13.16 5.9 12 5.9C10.84 5.9 9.9 6.84 9.9 8C9.9 9.16 10.84 10.1 12 10.1C13.16 10.1 14.1 9.16 14.1 8ZM18.1 17C18.1 16.36 14.97 14.9 12 14.9C9.03 14.9 5.9 16.36 5.9 17V18.1H18.1V17ZM4 17C4 14.34 9.33 13 12 13C14.67 13 20 14.34 20 17V20H4V17Z"
                    fill="#ACB2BD" />
                </svg>
                <!-- <img src="./assets/img/user.svg" alt=""> -->
                <span>Личный профиль</span>
              </li>
            </a>
          </ul>

        </nav>
      </div>
      <div class="page-request-wrapper">
        <RequestPage @change="setRequest" @click="openPopup" @toggle-click="toggleCheckbox" :info="requestList" :choose="choosenRequests">
        </RequestPage>
      </div>
      <div class="popup-agreement">
        <popupAgreement v-if="isPopup" @click="openPopup" :on-change="chooseOption" :values="choosenOption">
        </popupAgreement>
      </div>
    </div>
  </div>
</template>

<script>
  import simpleButton from './components/simpleButton.vue';
  import RequestPage from './components/RequestPage.vue';
  import popupAgreement from './components/popupAgreement.vue'
  import {
    requestList, optionList
  } from './const.js';

  export default {
    name: 'App',
    data() {
      return {
        requestList,
        choosenRequests: [],
        choosenOption: optionList[0],
        isPopup: false,
        isToggle: false
      }
    },
    components: {
      simpleButton,
      RequestPage,
      popupAgreement
    },
    methods: {
      setRequest(choice, request) {

        const result = this.requestList.findIndex(item => {

          if (item.id === request.id) {
            item.active = choice;
          }

        });
        if (choice) {
          this.choosenRequests.push(request);
        } else {
          const index = this.choosenRequests.findIndex(item => item === request);
          this.choosenRequests.splice(index, 1);
        }
        console.log('choosenRequests: ', this.choosenRequests);
      },
      chooseOption(option) {
        this.choosenOption = option;
        console.log('this.choosenOption: ', this.choosenOption);
      },
      openPopup() {
        this.isPopup = !this.isPopup;
      },
      toggleCheckbox(){
        this.isToggle = !this.isToggle;
        console.log('this.isToggle: ', this.isToggle);
        
        this.requestList.forEach(item => {
          if(this.isToggle){
            item.active = true;
          }
          else {
            item.active = false;
          }
        })
      }

    },
    mounted() {

    }
  }
</script>

<style lang="less">
  body {
    margin: 0;
    min-height: 100%;
    // overflow: overlay;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    outline: none;

  }

  a {
    color: inherit;
    border: none;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #app {
    font-family: 'Inter', sans-serif;
    color: #201F25;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: border-box;
  }

  .all-wrapper {
    display: flex;
    position: relative;
  }

  .wrapper-btn {
    // width: 221px;
  }

  .left-menu-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05), 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 32px;
    min-width: 330px;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

  }

  .logo-box {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo {}

  .logo-text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    opacity: 0.7;
    padding: 0 0 4px 14px;
  }

  .worker-office-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 45px 0 60px;
  }

  .worker-box {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .worker-avatar {}

  .worker-name {
    font-weight: 500;
    line-height: 16px;
    color: #2E2E2E;
    padding-left: 12px;
    padding-bottom: 2px;
  }

  .worker-office-btn {
    cursor: pointer;
    user-select: none;
    display: flex;

    &:active {
      svg path {
        fill: #1EB2E0;
      }
    }
  }

  .menu-content {
    width: 100%;
  }

  .menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 16px 4px;

    span {
      padding-left: 28px;
    }

    &:hover {
      svg path {
        fill: #1EB2E0;
      }

      span {
        color: #1EB2E0;
        font-weight: bold;
      }

    }

  }

  .active-link {
    svg path {
      fill: #1EB2E0;
    }

    span {
      color: #1EB2E0;
      font-weight: bold;
    }
  }

  .page-request-wrapper {
    width: 100%;
    padding-left: 330px;
  }

  .popup-agreement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 1;
  }

  @media (max-width: 1640px) {
    .popup-agreement {
      transform: translate(-30%, -50%);
    }
  }
</style>